@import "../../styles.scss";

.weather-comp {
    padding: 20px;
    padding-bottom: 0;
    width: 100%;
    .search-section {
        display: flex;
        align-items: center;
        justify-content: center;
        .search-icon {
            color: #929292;
        }
        .clear-button {
            visibility: hidden;
            color: #929292;
            &.visible {
                visibility: visible;
            }
        }
    }
    
}
